{% extends 'AcmeSassDemoBundle:Demo:base.html.twig' %}

{% block body %}

<div class="content">
    hello world
    <div class="sub">
        This text should be in green ...
        <div class="sub">
            ... and this one in blue!
        </div>
    </div>
</div>
{% endblock %}